@import url("https://fonts.googleapis.com/css?family=Lora:400|Montserrat+Alternates:400");

html {
  font-size: 100%;
} /*16px*/
:root {
  /* colors  primary*/
  --white: #fef6e4;
  /* grey */
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #111827;
  /* other VArs */
  --transition: 0.3s ease-in-out all;
  --max-width: 1170px;
  --fixed-width: 772px;
  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-5: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
body {
  background: var(--grey-200);
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}
.text-center {
  text-align: center;
}
/* Stories */
.section-container {
  max-width: var(--fixed-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0.5rem auto;
}
.article {
  width: 360px;
  background-color: whitesmoke;
  border-radius: 1rem;
  margin: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h5 {
  margin: 0.3rem 0.3rem;
  font-weight: bolder;
}
.page {
  display: inline;
  margin: 0.1 0.3rem;
  align-items: center;
}
span {
  color: var(--grey-600);
}
.link {
  text-decoration: none;
  color: rgb(0, 217, 255);
  margin: 0.3rem;
}
.btn {
  background-color: rgb(0, 195, 255);
  font-size: 1.25rem;
  font-weight: bolder;
  color: white;
  border-radius: 0.25rem;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
}
.btn:disabled {
  cursor: not-allowed;
}
.remove {
  border: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
}
@media screen and (min-width: 639px) {
  .article {
    width: 300px;
  }
}
.form-container {
  display: flex;
  max-width: var(772px);
}
.form {
  display: flexbox;

  margin-left: auto;
  margin-right: auto;
}
.form-input {
  width: 100%;
  outline: none;
  border-color: transparent;
  border-bottom: 0.1rem solid rgb(0, 132, 255);
}
